
#box2{
    width: 100px;
    height:auto;
    box-shadow: 3px 3px 5px white;
   background-color: white;
   text-decoration-color: white;
}

#search-button button:hover{
    background-color: rgb(238, 24, 24);
    size: 5px;
    
}

h1{
    text-align: center;
    background-color: rgb(180, 211, 247);
}

#box1{
    float: none;
}