
#box2{
    width: 100px;
    height:auto;
    box-shadow: 3px 3px 5px white;
   background-color: white;
   text-decoration-color: white;
}

#search-button button:hover{
    background-color: rgb(238, 24, 24);
    size: 5px;
    
}

h1{
    text-align: center;
    background-color: rgb(180, 211, 247);
}

#box1{
    float: none;
}

.navbar button{
    margin: 2px;
    padding-block: 4px;
}

.navbar a{
    color: black;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(195, 193, 193);
    size
}